div{
	border:2px solid black;
	height:300px;
	width:300px;
	position:relative;
	top:100px;
	margin-left:100px;
	background-color:lightblue;
}
p{
	text-align:center;
	padding:100px;	
	color:purple;
	
}